/* body {
    max-width: max-content;
    margin: auto;
} */

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    max-width: max-content;
    margin: auto;
}

img {
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.overlay-text {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aquamarine;
    transition: background-color 500ms, font-size 500ms;
    cursor: default;
}

.overlay-button-small {
    margin-top: 150px;
    font-size: .5em;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    /* width: 250px;
    height: 60px; */
    animation: pulse 1s infinite;
}

.overlay-button-smaller {
    display: inline-block;
}

.connect {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.get {
    display: inline-flex;
    flex-direction: column;
    text-align: center;

}

.web3-button {
    margin: 110px 170px;
    width: 250px;
    height: 60px;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    animation: pulse 1s infinite;
}

.small {
    margin-top: 20px;;
    font-size: 1.5rem;
}

.smaller {
    margin-top: -90px;;
    font-size: 1.2rem;
}

.web3-button:hover {
    animation: none;
    transform: scale(1.1);
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 1000ms forwards;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	60% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 8em;
    }
}